@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
           
    margin: 0px;
}
#llista{
    width: 100%;
    display:flex;
    justify-content: center;
}
ul li{
    list-style: none;
    font-family: lato;
    font-size: 0.7em;

}
ul li:hover{
    color: darkmagenta;
    background-color: antiquewhite;
}
ul li a{
    text-decoration: none;
    color: darkmagenta;
    
}
:root{
    --lila: #BE86C7;
    --groc: #FAD986;
}
body{
    font-size: 20px;
}
header, nav, main, footer{
    padding: 0px 200px;
}
/*HEADER*/
header{
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background-color: var(--groc);
    height: 8.5vh;
    color: var(--lila);
    text-align: center;
    
}
h1{
    font-family: 'Lato', sans-serif;
}
/*NAV*/
img{
    display: flex;
    justify-content: center;
    height: 60px;
    width: 60px;
}

nav{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: var(--lila);
    height: 14.5vh;
    color: var(--groc);
    
}
h1, h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*MAIN*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--groc);
    height: 62.5vh;
    color: var(--lila);
}
main h1{
    font-size: 3em;
    padding-bottom: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
table{
    font-family: lato;
    font-size: 20px;
    font-weight: lighter;
}
th{
    font-family: lato;
    font-variant-caps: all-small-caps;
    font-weight: bold;
}
/*FOOTER*/
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--lila);
    height: 14.5vh;
    color: var(--groc);
    font-size: 0.9em;

}
h1, h2{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
